:root {
    font-size: 20px;
    font-family: "Open Sans";
    --background-color: #272727;
    --accent-gray: #747474;
    --accent-yellow: #FFE400;
    --accent-orange: #FF652F;
    --accent-green: #14A76C;
    --transition-time: 300ms;
    --border-size: 2px;
    --tablet-breakpoint: 1024px;
    --phone-breakpoint: 480px;
}

body {
    padding: 0;
    margin: 0;
    background-image: url("../images/estilla_render_modified.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slide-in-from-right {
    from { transform: translateX(100vw); }
    to { transform: translateX(0); }
}

@keyframes rotate {
    0% { transform: rotate(0); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}
