#error {
    height: 2rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-orange);
    animation: 500ms ease error-appear; 
    position: relative;
    display: none;
}

#error-message {
    padding: 0;
    margin: auto;
    opacity: 0;
    animation: 200ms ease 300ms forwards fade-in;
    color: black;
    position: absolute;
    font-size: 90%;
    text-align: center;
}

#error-close {
    padding: 5px;
    border-radius: 5px;
    flex: 0;
    height: 50%;
    transition: background-color 300ms ease;
    position: absolute;
    right: 1ch;
}

#error-close:hover {
    background-color: rgba(27, 27, 27, 0.2);
}


@keyframes error-appear {
    from { height: 0; }
    to { height: 2rem; }
}

@media only screen and (max-width: 1024px) {
    #error-message {
        font-size: 80%;
    }
}

@media only screen and (max-width: 480px) {
    #error-message {
        font-size: 60%;
        position: static;
    }

    #error-close {
        position: static;
        margin-right: 1ch;
        margin-left: 1ch;
    }
}
