#leaderboard-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
    width: 85%;
    background-color: var(--background-color);
    border-radius: 2px;
    opacity: 1;
    background-color: var(--background-color);
    color: var(--accent-green);
    animation: 500ms ease slide-in-from-right;
    transition: transform 500ms ease;
    position: static;
}

#leaderboard {
    border-collapse: collapse;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 60%;
    border-radius: 2px;
    text-align: center;
}


#leaderboard > thead {
    background-color: var(--accent-green);
    color: var(--background-color);
}

thead th {
    text-align: center;
    margin: auto;
}

#leaderboard tr {
    display: flex;
    /* margin: -2ch; */
    /* border: 2px solid var(--accent-green); */
    border-bottom: 1px solid var(--accent-green);
    border-right: 1px solid var(--accent-green);
    border-left: 1px solid var(--accent-green);
}

#leaderboard td:not(#leaderboard tr:first-child > td) {
    margin-top: 1ch;
    margin-bottom: 1ch;
}

#leaderboard td:nth-child(1) {
    width: 25%;
}

#leaderboard td:nth-child(2) {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#leaderboard td:nth-child(3) {
    width: 25%;
}

#leaderboard td:nth-child(2) > img {
    width: 30px;
    height: 30px;
}

#leaderboard td:nth-child(2) > p {
    margin: 0;
    width: 50%;
}

#leaderboard > tbody > tr:first-child {
    border-top: 2px solid var(--background-color);
    color: var(--background-color);
    background-color: var(--accent-green);
    /* text-transform: uppercase; */
    /* font-weight: 400; */
}
