#loading-icon {
    width: 4%;
    margin: auto;
    opacity: 1;
    animation: 300ms ease 0ms fade-in, 1s ease 300ms infinite rotate;
    transition: all 500ms ease;
}

@media only screen and (max-width: 1024px) {
    #loading-icon {
        width: 10%;
    }
}

@media only screen and (max-width: 480px) {
    #loading-icon {
        width: 20%;
    }
}
