#loading-icon {
    width: 4%;
    margin: auto;
    opacity: 1;
    transition: opacity 3s ease;
    animation: 1s ease 300ms infinite rotate, 300ms ease 0ms fade-in;
}

@media only screen and (max-width: 1024px) {
    #loading-icon {
        width: 10%;
    }
}

@media only screen and (max-width: 480px) {
    #loading-icon {
        width: 15%;
    }
}
